*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
* ul
{
    list-style-type:none;
}
body
{
    background: url("../images/background12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav
{
    margin: 10px 20px;
}
#menu >li
{
    float:left;
}
#menu >li>a
{
    display:table-cell;
    vertical-align:middle;
    padding:15px 25px;
    text-decoration:none;
    width:120px;
    text-align:center;
    font-size:18px;
    color: lightyellow;
    border-radius:50%;
    background: #0080ff;
    background: -webkit-radial-gradient(#0080ff 30% white, #0080ff);
    background: -o-radial-gradient(#0080ff 30%, white, #0080ff);
    background: -moz-radial-gradient(#0080ff 30%, white, #0080ff);
    background: radial-gradient(#0080ff 30%, white, #0080ff);

}
#menu >li>a:hover
{
    background:darkblue;
    transition:background 0.5s linear;
    -webkit-transition:background 0.5s linear;
    -moz-transition:background 0.5s linear;
    -o-transition:background 0.5s linear;
    -ms-transition:background 0.5s linear;
    color:aqua;
}

#profile
{
    color: white;
    font-style: oblique;
    font-size: 19px;
    margin-top: 8px;
    margin-left: 7px;
    display: inline-block;
}

.pagin_cont{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 15px 0px;
}


/*.pagin_cont ul{*/
    /*margin-left: 20px;*/
/*}*/